html
body
    head
        link(rel='stylesheet', href='static/css/about.css')
    body
        h1 Thong tin cua nhom va de tai project nhom sap thuc hien
        p Nhom 4 gom nhung thanh vien sau:
        ul
            li
                p Thanh vien 1: Do Van Long
                p MSSV: 22150406
            li
                p Thanh vien 2: Bui Trung Kien
                p MSSV: 22150364
            li
                p Thanh vien 3: Nguyen Gia Bao
                p   MSSV: 22150450
        p Project cua nhom: Tao 1 website Quan ly cong viec